---
transformationAdvisorConfig:
  enabled: true
  storageClass: ocs-storagecluster-ceph-rbd
  aLicenseType: 'IBM Cloud Pak for Applications 5.2 - L-YQXD-3APM2Q'
  cluster:
    apiEndpoint: 'https://api.itz-xseo82.infra01-lb.fra02.techzone.ibm.com:6443'
    authIssuerEndpoint: 'https://oauth-openshift.apps.itz-xseo82.infra01-lb.fra02.techzone.ibm.com'
    publicUrl: 'https://ta.apps.itz-xseo82.infra01-lb.fra02.techzone.ibm.com'
    hostname: ta.apps.itz-xseo82.infra01-lb.fra02.techzone.ibm.com
    dnsName: oauth-openshift.apps.itz-xseo82.infra01-lb.fra02.techzone.ibm.com
  syncwave: '1'
  namespace:
    create: true
    syncwave: '0'
    displayName: 'ta-project'
    descr: 'ta-project'
    name: 'ta-project'


helper-operator:
  operators:
    ibm-transformation-advisor:
      enabled: true
      syncwave: '0'
      namespace:
        name: openshift-operators
        create: true
      subscription:
        channel: v3.9
        approval: Automatic
        operatorName: ibm-transformation-advisor
        source: ibm-operator-catalog
        sourceNamespace: openshift-marketplace
      operatorgroup:
        create: false

helper-status-checker:
  enabled: false

  checks:

    - operatorName: ibm-transformation-advisor
      namespace:
        name: openshift-operators
      syncwave: 3

      serviceAccount:
        name: "status-checker-ibm-licensing"
